// Custom variables
$primary: #D45855ff;
$secondary: #0073C2FF;


.custom-card {
  margin:10px;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
//  z-index: -1 !important;
}

.custom-metric {
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
  z-index: 0 !important;
}

.custom-map {
  height: -webkit-fill-available; 
  height: -moz-available;
  padding: 10pt; margin: 5pt;  
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3),

}

